{{> head}}
{{!-- Navbar --}}
   {{> navbar}}
   

<div class="row">
    <div class="col-8">

        <h1>wOLVERING</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea placeat eius laborum nobis iusto a at quibusdam labore, expedita reprehenderit recusandae libero impedit, voluptate veniam consectetur excepturi illo commodi.</p>
    </div>
    <div class="col-4">

        <img src="assets/img/wolverine.png" class="img-thumbnail" alt="">
    </div>
</div>


    <!-- Footer -->
{{> footer}}