{{> head}}
{{!-- Navbar --}}
   {{> navbar}}
   

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, temporibus. Minus praesentium deserunt saepe repellendus, commodi itaque ad! Quos assumenda aut sint ducimus ea harum rem nam non nemo laboriosam!</p>

<h1>Esta es una prueba de un apruba</h1>
    <!-- Footer -->
{{> footer}}